<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoundWorkingCopyPaths</key>
	<array>
		<string>/Users/admin/Documents/iOS_progs/HWforgeekHub3</string>
		<string>/Users/admin</string>
	</array>
	<key>LastWorkingCopyScanDate</key>
	<date>2014-02-04T16:49:11Z</date>
	<key>MissingFilePaths</key>
	<array>
		<string>/Users/admin/Documents/iOS_progs/HWforgeekHub3/build/Debug-iphoneos/HWforgeekHub3.app</string>
	</array>
	<key>Version</key>
	<integer>4</integer>
</dict>
</plist>
